.list {
  height:30vmax;
  width:50%;
  border:1px solid #ccc;
  overflow-y:auto;
  overflow-x: hidden;
  position: relative;
  box-shadow: inset 0px 0px 20px 10px rgba(0,0,0,0.6);
}

.redBG {
  background-color: red;
}

.greenBG {
  background-color: green;
}