.list {
  height:30vmax;
  width:100%;
  border:10px ridge #ccc;
  overflow-y:auto;
  overflow-x: hidden;
  position: relative;
  box-shadow: inset 0px 0px 10px 1px rgba(0,0,0,0.2);
}

.redBG {
  background-color: red;
}

.greenBG {
  background-color: green;
}

