.leftLogo {
  max-width: 15vmax;
  float: right;
  position: absolute;
  top: 0;
}
/* 
.header {
  text-align: center;
  font-family: "Public Sans", sans-serif;
  color: white;
  text-shadow: 2px 2px 2px rgb(176, 211, 222);
  padding-top: 7vmax;
  padding-left: 1vmax;
  float: right;
  position: absolute;
  font-weight: bolder;
} */


