#expand {
  position:absolute;
  right: 0;
  top: 0;
  margin: 10px;
}

#chevron {
  color: black;
}

.details {
  padding: 5px;
  margin: 0;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
  color: rgb(70, 70, 70);

}

#previewCard {
  width: 100%;
}

.redBG {
  background-color: red;
  padding: 0;
  margin: 0;
}

.greenBG {
  padding: 0;
  margin: 0;
}


@media only screen and (max-width: 700px) {
  .schoolPreviewName {
    font-size: 20px;
  }
}
