
.info{
  width: 80%;
  float: right;
  background: rgba(255,255,255,0.2);
  border-right: solid grey 1px;
  border-left: solid grey 1px;
}

.fortyTwo {
  margin-top: 350px;
  position: absolute;
  float: left;
  font-family: 'Lilita One', cursive;
  color: rgb(70, 70, 70);
  background: rgba(255,255,255,0.2);
  border-right: solid grey 1px;
  border-left: solid grey 1px;
  padding: 15px;


}

.content {
  font-family: 'Fira Sans', sans-serif;
  color: grey;
  padding: 15px;
}

.content2 {
  font-family: 'Fira Sans', sans-serif;
  color: rgb(70, 70, 70);
  padding: 15px;

}



.title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  color: rgb(70, 70, 70);
  padding: 15px;
}

.legend {
  float: right;
  width: 200px;
  position: absolute;
  margin-top: 500px;
  margin-left: 1000px;
  background: rgba(255,255,255,0.4);
  border-right: solid grey 1px;
  border-left: solid grey 1px;
  padding: 15px;

}
 