
button {
 float: right;
}

.toggleOn {
  color: white;
  background-color: rgb(52, 196, 76);
  padding: 5px;
  margin: 20px;
  font-weight: bolder;
  text-shadow: 2px 2px grey;
  box-shadow: 2px 2px grey;
  cursor: pointer
}

.exceedanceToggle {
  margin-top: 15px;
}

.toggleOff {
  margin: 20px;
  cursor: pointer
}

.clickExpand {
  font-family: 'Fira Sans', sans-serif;
  color: rgb(70, 70, 70);
}

.total {
  color: red;
}


.searchHeader {
  background: rgba(255,255,255,0.2);
  border-right: solid grey 1px;
  border-left: solid grey 1px;
  padding: 15px;
  font-family: 'Fira Sans', sans-serif;
  color: rgb(70, 70, 70);
}

@media only screen and (max-width: 900px) {
  .searchHeader {
    background: rgba(255,255,255,0.2);
    border-right: solid grey 1px;
    border-left: solid grey 1px;
    padding: 15px;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(70, 70, 70);
    width: 100%;
  }

  .searchTitle {
    font-size: 30px;
    font-weight: bolder;
  }


  .toggleBG {
    border-right: solid lightgrey 1px;
    border-left: solid lightgrey 1px;
    padding: 10px;
  }

  #exceedanceTitle {
    font-size: 10px;
  }
}

.select {
  width: 110px;
  float: right;
}

#searchToggle {
  margin: 20px;
}

.modal { 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0,0,0,0.4); 
}


.detailBox {
  font-family: 'Fira Sans', sans-serif;
  color: rgb(70, 70, 70);
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  display: flex;
  flex-flow: column;
  border-radius: 10px;
}

.infoBox{
  padding: 16px;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

#infoIcon{
  position: absolute;
}

.spinner {
  float: right;
  }










