
button {
 float: right;
}

.toggleOn {
  color: white;
  background-color: rgb(52, 196, 76);
  padding: 5px;
  margin: 20px;
  font-weight: bolder;
  text-shadow: 2px 2px grey;
  box-shadow: 2px 2px grey;
  cursor: pointer
}

.toggleOff {
  margin: 20px;
  cursor: pointer
}

.clickExpand {
  font-family: 'Fira Sans', sans-serif;
  color: rgb(70, 70, 70);

}

.total {
  color: red;
}


.searchHeader {
  background: rgba(255,255,255,0.2);
  border-right: solid grey 1px;
  border-left: solid grey 1px;
  padding: 15px;
  font-family: 'Fira Sans', sans-serif;
  color: rgb(70, 70, 70);
}

.searchFooter {
  font-family: 'Fira Sans', sans-serif;

}




.select {
  width: 110px;
  float: right;
}


.detailBox {
  float: left;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
  color: rgb(70, 70, 70);
}

#searchToggle {
  margin: 20px;
}







