ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-flow: row-reverse;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.left-logo {
  max-width: 10vmax;
  float: left;
  position: absolute;
}

.nav {
  height: 11vmax;
  box-shadow: 2px 2px 20px  rgb(176, 211, 222);
  background-color: rgb(255, 255, 255, 0.5);

}