<html>
  <head>
    <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
    <script type='text/javascript'>
     google.charts.load('current', {
       'packages': ['geochart'],
       'mapsApiKey': 'AIzaSyDL0sPhoIQ-w6JtRXkZiIwc2izy2m26cPE'
     });
     google.charts.setOnLoadCallback(drawMarkersMap);

      function drawMarkersMap() {
      var data = google.visualization.arrayToDataTable([
        ['County',   'Exceedances', 'Area'],
        ['Alameda County',      2761477,    1285.31],
        ['Alpine County',     1324110,    181.76],
        ['Amador County',     1324110,    181.76],
        ['Butte County',     1324110,    181.76],
        ['Calaveras County',     1324110,    181.76],
        ['Colusa County	',     1324110,    181.76],
        ['Contra Costa County',     1324110,    181.76],
        ['Del Norte County',     1324110,    181.76],
        ['El Dorado County',     1324110,    181.76],
        ['Fresno County',     1324110,    181.76],
        ['Glenn County',     1324110,    181.76],
        ['Humboldt County',     1324110,    181.76],
        ['Imperial County',     1324110,    181.76],
        ['Inyo County',     1324110,    181.76],
        ['Kern County	',     1324110,    181.76],
        ['Kings County',     1324110,    181.76],
        ['Lake County',     1324110,    181.76],
        ['Lassen County',     1324110,    181.76],
        ['Los Angeles County',     1324110,    181.76],
        ['Madera County',     1324110,    181.76],
        ['Marin County',     1324110,    181.76],
        ['Mariposa County',     1324110,    181.76],
        ['Mendocino County',     1324110,    181.76],
        ['Merced County',     1324110,    181.76],
        ['Modoc County',     1324110,    181.76],
        ['Mono County	',     1324110,    181.76],
        ['Monterey County',     1324110,    181.76],
        ['Napa County',     1324110,    181.76],
        ['Nevada County',     1324110,    181.76],
        ['Orange County',     1324110,    181.76],
        ['Placer County',     1324110,    181.76],
        ['Plumas County',     1324110,    181.76],
        ['Riverside County',     1324110,    181.76],
        ['Sacramento County',     1324110,    181.76],
        ['San Benito County',     1324110,    181.76],
        ['San Bernardino County',     1324110,    181.76],
        ['San Diego County',     1324110,    181.76],
        ['San Francisco',     1324110,    181.76],
        ['San Joaquin County',     1324110,    181.76],
        ['San Luis Obispo County	',     1324110,    181.76],
        ['San Mateo County',     1324110,    181.76],
        ['Santa Barbara County',     1324110,    181.76],
        ['Santa Clara County	',     1324110,    181.76],
        ['Santa Cruz County',     1324110,    181.76],
        ['Shasta County',     1324110,    181.76],
        ['Sierra County',     1324110,    181.76],
        ['Siskiyou County',     1324110,    181.76],
        ['Solano County',     1324110,    181.76],
        ['Sonoma County',     1324110,    181.76],
        ['Stanislaus County',     1324110,    181.76],
        ['Sutter County',     1324110,    181.76],
        ['Tehama County',     1324110,    181.76],
        ['Trinity County',     1324110,    181.76],
        ['Tulare County',     1324110,    181.76],
        ['Tuolumne County',     1324110,    181.76],
        ['Ventura County',     1324110,    181.76],
        ['Yolo County',     1324110,    181.76],
        ['Yuba County',     1324110,    181.76]


      ]);

      var options = {
        region: 'US-CA',
        displayMode: 'markers',
        resolution: 'provinces',
        markerOpacity: 0.5,
        colorAxis: {colors: ['blue', 'red' ]}
      };

      var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    };
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 700px; height: 500px;"></div>
  </body>
</html>
