.map {
  width: 500px; 
  height: 500px;
  float: right;

}

.mapLabel {
  float: left;
  background-attachment: fixed;
  /* position: relative; */
  margin-top: 11vmax;
  margin-left: 16vmax;
  font-size: 1.5vmax;
}