

.neon {
  position: relative;
  overflow: hidden;
  filter: brightness(200%);
  background-color: black;
  width: 50%;
  height: 150px;
  border-radius: 20%;

}

.text {
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-family: 'Lilita One', cursive;
  text-transform: uppercase;
  position: relative;
  user-select: none;
  
}

.text::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  filter: blur(0.02em);
  mix-blend-mode: difference;
}

.gradient {
  position: absolute;
  background: linear-gradient(45deg, rgb(0, 166, 255), rgb(99, 250, 252), rgb(102, 203, 243),rgb(99, 250, 252), rgb(0, 166, 255));
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
}

.spotlight {
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  background: 
      radial-gradient(
          circle,
          white,
          transparent 25%
      ) center / 25% 25%,
      radial-gradient(
          circle,
          white,
          black 25%
      ) center / 12.5% 12.5%;
  animation: light 5s linear infinite;
  mix-blend-mode: color-dodge;
}

@keyframes light {
  to {
      transform: translate(50%, 50%);
  }
}
